<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>


    </style>
</head>
<body>
    <h1>Create Bucket</h1>
    <form action="Create_Bucket" method="POST">
        {% csrf_token%}
        ENTER THE BUCKET NAME : <input type="text" name="bucket_name">
        <button type="submit" name="Create_bucket">create</button>
    </form>
    <h1>List the Buckets</h1>
    <form action="LIST_BUCKET" method="POST">
        {% csrf_token%}
        <button type="submit" name="list_bucket">list all buckets</button>
    </form>
    <!-- <form action="Delete_Bucket" method="POST">
        {% csrf_token%}
        ENTER THE BUCKET NAME : <input type="text" name="bucket_name">
        <button type="submit" name="Delete_bucket">delete</button>
    </form> -->
</body>
</html>